/*html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(to left, red, red 50%, blue 50%, blue);
    background-size: cover;
    background-repeat: no-repeat;
}*/

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 5em;
}

p {
	font-family: 'EB Garamond', serif;
	font-size: 1.5em;
}

.welcome {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}