/*html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(to left, red, red 50%, blue 50%, blue);
    background-size: cover;
    background-repeat: no-repeat;
}*/

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 5em;
	padding: 70px 0 70px 0;
}

p {
	font-family: 'EB Garamond', serif;
	font-size: 1.5em;
}

.welcome {
	width: 700px;
	margin: 0 auto;
	text-align: center;
}

.priceButtons {
	width: 900px;
	margin: 0 auto;
}

.priceButtons a:link {
	
}

